body {
  background-color: #000000;
  color: #ffffff;
}

#chatting {
  height: 300px;
  overflow-y: scroll;
  
}

#chattingTable {
  border-collapse: separate;
  border-spacing: 10px 5px;
}

.chatText {
  width: 250px;
}

.todoItem {
  width: 130px;
  margin: 7px;
}

.author {
  font-weight: bold;
  margin-right: 10px;
}

.time {
  font-size: 8pt;
}

.chatText {
  font-size: 10pt;
}